<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Weather</title>
</head>
<body>
    <h1 class="header">{{ title }}</h1>

    <form class="weather-form">
        <input id="location-input" placeholder="Location">
        <button>Search</button>
    </form>

    <div class="content">
        <p class="weather-message"></p>
    </div>

    <footer>Welcome to the jungle.</footer>

    <script src="/js/app.js"></script>
</body>
</html>
