<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="/js/app.js"></script>
</head>
<body>
    <h1 class="header">{{ title }}</h1>

    <div class="content">
        <img class="demo-img" src="/assets/cat.jpg" alt="">
    </div>

    <footer>Welcome to the jungle.</footer>
</body>
</html>
